.citation-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.db-data {
  font-size: 14px;
}

.cit-nav-link {
  margin-right: 60px;
}
